<div class="toggle-buttons btn-group" role="group">
  <button type="button" [class.active]="viewMode === ViewMode.numbers" class="btn btn-outline-dark"
          (click)="setViewMode(ViewMode.numbers)">
    Enter numbers
  </button>
  <button type="button" [class.active]="viewMode === ViewMode.constraints" class="btn btn-outline-dark"
          (click)="setViewMode(ViewMode.constraints)">
    Add constraints
  </button>
</div>

<div [hidden]="viewMode !== ViewMode.numbers" class="flex-container">
  <div class="grid left-side">
    <ul>
      <li *ngFor="let cell of cells;">
        <input type="text" [(ngModel)]="cell.value" maxlength="1" autocomplete="false"
               [style.color]="cell.calculated ? 'green' : 'blue'">
      </li>
    </ul>
  </div>

  <div class="right-side">
    <p>
      Click on cells to enter numbers which are already known.
    </p>

    <button type="button" class="btn btn-outline-dark" (click)="clear()">
      clear
    </button>
  </div>
</div>

<div [hidden]="viewMode !== ViewMode.constraints" class="flex-container">
  <div class="grid left-side">
    <ul style="cursor: pointer;">
      <li *ngFor="let cell of cells;" (click)="toggleSelection(cell)"
          [style.background-color]="cell.bgColor">
        <span [style.color]="cell.calculated ? 'green' : 'black'">
          {{cell.value}}
        </span>
      </li>
    </ul>
  </div>

  <div class="right-side">
    <button type="button" class="btn btn-outline-dark" (click)="solve()">
      Solve
    </button>

    Click on one or multiple cell to add a constraint.

    # of selected cells: {{selectedCells.length}}

    Type:
    <select class="custom-select">
      <option selected>Choose constraint type</option>
      <option [value]="ConstraintType.SINGLE_CELL_ODD_EVEN">Odd or even cell(s)</option>
      <option [value]="ConstraintType.TWO_CELLS_BIGGER_THAN">Two cells: Bigger/smaller than</option>
      <option [value]="ConstraintType.TWO_CELLS_EXACT_DIFFERENCE">Two cells: Exact difference</option>
      <option [value]="ConstraintType.TWO_CELLS_EXACT_FACTOR">Two cells: Exact factor</option>
      <option [value]="ConstraintType.MULTI_CELL_UNIT">Multiple cells: Complete unit (1-9)</option>
      <option [value]="ConstraintType.MULTI_CELL_SUM">Multiple cells: sum</option>
      <option [value]="ConstraintType.MULTI_CELL_PRODUCT">Multiple cells: product</option>
    </select>

    Description & attributes:
    <div *ngIf="selectedType === ConstraintType.SINGLE_CELL_ODD_EVEN">
      One or more cells which are odd or even.

      Type:
      Odd / Even
    </div>

    <!--
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Constraint type:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="addConstraint()">Single cell: </a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    -->

    (constraint details: sum, odd/even, ...)

    <button type="button" class="btn btn-outline-dark">
      Add
    </button>

    List of Constraints:

  </div>
</div>

<div>
  sudoku-solver.ch lets you solve custom Sudokus, and a wide range of known 9x9 Sudoku types:

  images of Sudoku X, Killer-Sudoku etc.
  <ul>
    <li>
      Sudoku X: Two additional diagonal units
    </li>
    <li>
      Hyper Sudoku: Four additional units
    </li>
    <li>
      Killer Sudoku (Sum Sudoku): No 3x3 units, but 9 custom units instead
    </li>
    <li>
      Odd-Even Sudoku: Normal Sudoku with odd/even constraints
    </li>
    <li>
      Greater/Less Than Sudoku: Normal Sudoku with greater/less than constraints
    </li>
    <li>
      Any combinations of the above
    </li>
  </ul>

  <h3>Technical details</h3>
  <p>
    The solver is based on backtracking as described by <a href="https://norvig.com/sudoku.html">Peter Norvig</a>.
    It uses custom constraints for propagation and a different heuristic (based on the entered constraints) to optimize
    the search.
    The solving is done inside of a <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API">
    Web Worker</a>.
  </p>
  <p>
    The grid is based on the work of <a href="https://codepen.io/sdobson">Sam Dobson</a>.
  </p>

  <p>
    &copy; 2020 by <a href="https://www.kleemans.ch">Adrianus Kleemans</a>
  </p>
</div>
