<div class="toggle-buttons btn-group" role="group">
  <button type="button" [class.active]="viewMode === ViewMode.numbers" class="btn btn-outline-dark"
          (click)="setViewMode(ViewMode.numbers)">
    Enter numbers
  </button>
  <button type="button" [class.active]="viewMode === ViewMode.constraints" class="btn btn-outline-dark"
          (click)="setViewMode(ViewMode.constraints)">
    Add constraints
  </button>
</div>

<div *ngIf="viewMode === ViewMode.numbers" class="flex-container">
  <div class="left-side">
    <ul>
      <li *ngFor="let cell of cells;">
        <input type="text" [(ngModel)]="cell.value" maxlength="1" autocomplete="false" [style.color]="cell.original ? 'blue' : 'red'">
      </li>
    </ul>
  </div>

  <div class="right-side">
    <p>
      Click on cells to enter numbers which are already known.
    </p>

    <button type="button" class="btn btn-outline-dark" (click)="clear()">
      clear
    </button>
  </div>
</div>

<div *ngIf="viewMode === ViewMode.constraints" class="flex-container">
  <div class="left-side">
    <ul>
      <li *ngFor="let cell of cells;" (click)="toggleSelection(cell)"
          [style.background-color]="cell.bgColor">
        <span>{{cell.value}}</span>
      </li>
    </ul>
  </div>

  <div class="right-side">
    <button type="button" class="btn btn-outline-dark" (click)="solve()">
      Solve
    </button>

    Click on one or multiple cell to add a constraint.

    # of selected cells: {{selectedCells.length}}

    Type:
    <select class="custom-select">
      <option selected>Choose constraint type</option>
      <option [value]="ConstraintType.SINGLE_CELL_ODD_EVEN">Single cell: odd/even</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>

    Description & attributes:
    <div *ngIf="selectedType === ConstraintType.SINGLE_CELL_ODD_EVEN">
      One or more cells which are odd or even.

      Type:
      Odd / Even
    </div>

    <!--
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Constraint type:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="addConstraint()">Single cell: </a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    -->

    (constraint details: sum, odd/even, ...)

    <button type="button" class="btn btn-outline-dark">
      Add
    </button>

    List of Constraints:

  </div>
</div>

<div>
  sudoku-solver.ch lets you solve custom Sudokus, and a wide range of known 9x9 Sudoku types:

  images of Sudoku X, Killer-Sudoku etc.
</div>
