<div class="toggle-buttons btn-group" role="group">
  <button type="button" [class.active]="viewMode === ViewMode.numbers" class="btn btn-outline-dark"
          (click)="setViewMode(ViewMode.numbers)">
    Enter numbers
  </button>
  <button type="button" [class.active]="viewMode === ViewMode.constraints" class="btn btn-outline-dark"
          (click)="setViewMode(ViewMode.constraints)">
    Add constraints
  </button>
</div>

<div *ngIf="viewMode === ViewMode.numbers" class="flex-container">
  <div class="grid left-side">
    <ul>
      <li *ngFor="let cell of cells;">
        <input type="text" [(ngModel)]="cell.value" maxlength="1" autocomplete="false"
               [style.color]="cell.calculated ? 'green' : 'blue'">
      </li>
    </ul>
  </div>

  <div class="right-side">
    <p>
      Enter the numbers which are already known.
    </p>

    <p>
      For a regular Sudoku, click "solve" below, else add contraints
      by switching to the "Add constraints" view.
    </p>

    <button type="button" class="btn btn-outline-dark" (click)="solve()">
      Solve
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="clearCells()">
      Clear
    </button>
  </div>
</div>

<div *ngIf="viewMode === ViewMode.constraints" class="flex-container">
  <div class="grid left-side">
    <ul style="cursor: pointer;">
      <li *ngFor="let cell of cells;" (click)="toggleSelection(cell)"
          [style.background-color]="cell.bgColor">
        <span [style.color]="cell.calculated ? 'green' : 'black'">
          {{cell.value}}
        </span>
      </li>
    </ul>
  </div>

  <div class="right-side">
    <p>
      Click on cells to select them ({{currentConstraint.cellIds.length}} selected)
    </p>

    <select class="custom-select" [(ngModel)]="currentConstraint.type">
      <option selected>Choose constraint type</option>
      <option [disabled]="currentConstraint.cellIds.length === 0" [ngValue]="ConstraintType.SINGLE_CELL_ODD_EVEN">
        Odd or even cell(s)
      </option>
      <!--
      <option [disabled]="currentConstraint.cellIds.length !== 2" [ngValue]="ConstraintType.TWO_CELLS_BIGGER_THAN">
        Two cells: Bigger/smaller than
      </option>
      -->
      <!--
      <option [disabled]="currentConstraint.cellIds.length !== 2" [ngValue]="ConstraintType.TWO_CELLS_EXACT_DIFFERENCE">
        Two cells: Exact difference
      </option>
      -->
      <!--
      <option [disabled]="currentConstraint.cellIds.length !== 2" [ngValue]="ConstraintType.TWO_CELLS_EXACT_FACTOR">
        Two cells: Exact factor
      </option>
      -->
      <option [disabled]="currentConstraint.cellIds.length !== 9" [ngValue]="ConstraintType.MULTI_CELL_UNIT">
        Multiple cells: Complete unit (1-9)
      </option>
      <option [disabled]="currentConstraint.cellIds.length < 2" [ngValue]="ConstraintType.MULTI_CELL_SUM">
        Multiple cells: sum
      </option>
      <!--
      <option [disabled]="currentConstraint.cellIds.length < 2" [ngValue]="ConstraintType.MULTI_CELL_PRODUCT">
        Multiple cells: product
      </option>
      -->
    </select>

    <!-- Type descriptions -->
    <div *ngIf="currentConstraint.type === undefined" style="height: 100px;">
      Choose a constraint type to show its description.
    </div>

    <div *ngIf="currentConstraint.type === ConstraintType.SINGLE_CELL_ODD_EVEN">
      <p><b>Description:</b> One or more cells which are odd or even.</p>
      <div class="form-inline">
        <b>Choose if odd/even:</b>
        <select class="form-control custom-select" [(ngModel)]="currentConstraint.isEven">
          <option [value]="true">Even</option>
          <option [value]="false">Odd</option>
        </select>
      </div>
    </div>

    <div *ngIf="currentConstraint.type === ConstraintType.MULTI_CELL_SUM">
      <p><b>Description:</b> Multiple cells must add up to a sum.</p>
      <div class="form-inline">
        <b>Enter sum:</b>
        <input class="form-control" type="number" [(ngModel)]="currentConstraint.sum">
      </div>
    </div>

    <button type="button" class="btn btn-outline-dark" (click)="addConstraint()"
            [disabled]="currentConstraint.cellIds.length === 0 || currentConstraint.type === undefined">
      Add
    </button>
    <hr>
    <b>List of Constraints:</b>
    <div class="constraint-list">
      <div *ngFor="let constraint of constraints">
        <span [style.background]="constraint.color" class="mydot"></span>
        {{constraint.toString()}}
        <svg (click)="deleteConstraint(constraint)" style="cursor: pointer;" class="bi bi-trash" width="1em"
             height="1em" viewBox="0 0 16 16"
             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
          <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                clip-rule="evenodd"/>
        </svg>
      </div>
    </div>

    <b>Global options</b>
    <div style="margin-bottom: 20px;">
      <input type="checkbox" [(ngModel)]="useBlockUnits"> Use standard 3x3 block units
    </div>

    <button type="button" class="btn btn-outline-dark" (click)="solve()">
      Solve
    </button>
  </div>
</div>

<div *ngIf="viewMode === ViewMode.solving" class="flex-container">
  <div class="grid left-side">
    <ul>
      <li *ngFor="let cell of cells;">
        <input type="text" [(ngModel)]="cell.value" maxlength="1" autocomplete="false"
               [style.color]="cell.calculated ? 'green' : 'blue'">
      </li>
    </ul>
  </div>

  <div class="right-side">
    <p>
      Status: {{status}}
    </p>

    <div *ngIf="solvingInProgress" class="spinner-border" role="status">
      <!-- <span class="sr-only">Loading...</span>-->
    </div>

    <button *ngIf="!solvingInProgress" type="button" class="btn btn-outline-dark" (click)="clearAll()">
      Clear
    </button>
  </div>
</div>

<div class="showcase">
  This webapp lets you solve custom Sudokus, and a wide range of known 9x9 Sudoku types:

  <ul>
    <li>
      <b>Sudoku X</b>: Two additional diagonal units
    </li>
    <li>
      <b>Hyper Sudoku</b>: Four additional units
    </li>
    <li>
      <b>Killer Sudoku (Sum Sudoku)</b>: Regions of variable size must form sums
    </li>
    <li>
      <b>Nonomino</b>: No 3x3 block units, but 9 custom, irregular units instead
    </li>
    <li>
      <b>Odd-Even Sudoku</b>: Normal Sudoku with odd/even constraints
    </li>
    <li>
      <b>Greater/Less Than Sudoku</b>: Normal Sudoku with greater/less than constraints
    </li>
    <li>
      Custom combinations of the above (for example special Sudokus for Geocaching puzzles)
    </li>
  </ul>

  <h3>Technical details</h3>
  <p>
    The solver is based on backtracking as described by <a href="https://norvig.com/sudoku.html">Peter Norvig</a>.
    It uses custom constraints for propagation and a different heuristic (based on the entered constraints) to optimize
    the search.
    The solving is done inside of a <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API">
    Web Worker</a>.
  </p>
  <p>
    The solver is open source (MIT license) and available on <a
    href="https://github.com/akleemans/sudoku-solver.ch">Github</a>
  </p>
  <p>
    The grid is based on the work of <a href="https://codepen.io/sdobson">Sam Dobson</a>.
  </p>

  <p style="margin-bottom: 50px;">
    &copy; 2021 by <a href="https://www.kleemans.ch">Adrianus Kleemans</a>
  </p>
</div>
