<div class="toggle-buttons btn-group" role="group">
  <button type="button" [class.active]="viewMode === viewModeEnum.numbers" class="btn btn-outline-dark"
          (click)="setViewMode(viewModeEnum.numbers)" i18n>
    Enter numbers
  </button>
  <button type="button" [class.active]="viewMode === viewModeEnum.constraints" class="btn btn-outline-dark"
          (click)="setViewMode(viewModeEnum.constraints)" i18n>
    Add constraints
  </button>
</div>

<div *ngIf="viewMode === viewModeEnum.numbers" class="flex-container">
  <div class="grid left-side">
    <ul>
      <li *ngFor="let cell of cells;">
        <input type="text" [(ngModel)]="cell.value" maxlength="1" autocomplete="false"
               [style.color]="cell.calculated ? 'green' : 'blue'">
      </li>
    </ul>
  </div>

  <div class="right-side">
    <p i18n>
      Enter the numbers which are already known.
    </p>

    <p i18n>
      For a regular Sudoku, click "solve" below, else add contraints
      by switching to the "Add constraints" view.
    </p>

    <button type="button" class="btn btn-outline-dark" (click)="solve()" i18n>
      Solve
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="clearCells()" i18n>
      Clear
    </button>
  </div>
</div>

<div *ngIf="viewMode === viewModeEnum.constraints" class="flex-container">
  <div class="grid left-side">
    <ul style="cursor: pointer;">
      <li *ngFor="let cell of cells" (click)="toggleSelection(cell)"
          [style.background-color]="cell.bgColor">

        <span *ngFor="let color of cell.colors; let i = index" [style.margin-bottom]="(30 - 30 * (i%3)) + 'px'"
              [style.margin-right]="(30 - 60 * (i - i%3)/3) + 'px'"
              [style.background]="color" class="smalldot"></span>

        <span [style.color]="cell.calculated ? 'green' : 'black'">
          {{cell.value}}
        </span>
      </li>
    </ul>
  </div>

  <div class="right-side">
    <p i18n>
      Click on cells to select them ({{currentConstraint.cellIds.length}} selected)
    </p>

    <select class="custom-select" [(ngModel)]="currentConstraint.type">
      <option selected i18n>Choose constraint type</option>
      <option [disabled]="currentConstraint.cellIds.length === 0" [ngValue]="constraintTypeEnum.SINGLE_CELL_ODD_EVEN"
              i18n>
        Odd or even cell(s)
      </option>
      <option [disabled]="currentConstraint.cellIds.length !== 2" [ngValue]="constraintTypeEnum.TWO_CELLS_BIGGER_THAN"
              i18n>
        Two cells: Bigger/smaller than
      </option>
      <option [disabled]="currentConstraint.cellIds.length !== 2"
              [ngValue]="constraintTypeEnum.TWO_CELLS_EXACT_DIFFERENCE" i18n>
        Two cells: Exact difference
      </option>
      <option [disabled]="currentConstraint.cellIds.length !== 2" [ngValue]="constraintTypeEnum.TWO_CELLS_EXACT_FACTOR"
              i18n>
        Two cells: Exact factor
      </option>
      <option [disabled]="currentConstraint.cellIds.length !== 9" [ngValue]="constraintTypeEnum.MULTI_CELL_UNIT" i18n>
        Multiple cells: Complete unit (1-9)
      </option>
      <option [disabled]="currentConstraint.cellIds.length < 2" [ngValue]="constraintTypeEnum.MULTI_CELL_SUM" i18n>
        Multiple cells: sum
      </option>
      <option [disabled]="currentConstraint.cellIds.length < 2" [ngValue]="constraintTypeEnum.MULTI_CELL_PRODUCT" i18n>
        Multiple cells: product
      </option>
    </select>

    <!-- Type descriptions -->
    <div *ngIf="currentConstraint.type === undefined" style="height: 100px;" i18n>
      Choose a constraint type to show its description.
    </div>

    <div *ngIf="currentConstraint.type === constraintTypeEnum.SINGLE_CELL_ODD_EVEN">
      <p><b i18n>Description:</b>
        <ng-container i18n>One or more cells which are odd or even.</ng-container>
      </p>
      <div class="form-inline">
        <b i18n>Choose if odd/even:</b>
        <select class="form-control custom-select" [(ngModel)]="currentConstraint.isEven">
          <option [value]="true" i18n>Even</option>
          <option [value]="false" i18n>Odd</option>
        </select>
      </div>
    </div>

    <div *ngIf="currentConstraint.type === constraintTypeEnum.TWO_CELLS_EXACT_DIFFERENCE">
      <p><b i18n>Description:</b>
        <ng-container i18n> Two cells have a known difference.</ng-container>
      </p>
      <div class="form-inline">
        <b i18n>Enter difference (first cell + difference = second cell):</b>
        <input class="form-control" type="number" [(ngModel)]="currentConstraint.difference">
      </div>

      <div class="form-inline">
        <input class="form-control" style="margin-right: 5px;" type="checkbox"
               [(ngModel)]="currentConstraint.unknownOrder" i18n>
        Unknown order
      </div>
    </div>

    <div *ngIf="currentConstraint.type === constraintTypeEnum.TWO_CELLS_EXACT_FACTOR">
      <p><b i18n>Description:</b>
        <ng-container i18n>Two cells have a known factor.</ng-container>
      </p>
      <div class="form-inline">
        <b i18n>Enter factor (first cell * factor = second cell):</b>
        <input class="form-control" type="number" [(ngModel)]="currentConstraint.factor">
      </div>

      <div class="form-inline">
        <input class="form-control" style="margin-right: 5px;" type="checkbox"
               [(ngModel)]="currentConstraint.unknownOrder" i18n>
        Unknown order
      </div>
    </div>

    <div *ngIf="currentConstraint.type === constraintTypeEnum.TWO_CELLS_BIGGER_THAN">
      <p><b i18n>Description:</b>
        <ng-container i18n>Second cell is bigger than first one.</ng-container>
      </p>
    </div>

    <div *ngIf="currentConstraint.type === constraintTypeEnum.MULTI_CELL_SUM">
      <p><b i18n>Description:</b>
        <ng-container i18n>Multiple cells must add up to a sum.</ng-container>
      </p>
      <div class="form-inline">
        <b i18n>Enter sum:</b>
        <input class="form-control" type="number" [(ngModel)]="currentConstraint.sum">
      </div>

      <div class="form-inline">
        <input class="form-control" style="margin-right: 5px;" type="checkbox"
               [(ngModel)]="currentConstraint.noDuplicates" i18n>
        No duplicates (Killer Sudoku)
      </div>
    </div>

    <div *ngIf="currentConstraint.type === constraintTypeEnum.MULTI_CELL_PRODUCT">
      <p><b i18n>Description:</b>
        <ng-container i18n>Multiple cells form a product when multiplied.</ng-container>
      </p>
      <div class="form-inline" style="margin-bottom: 10px;">
        <b i18n>Enter product:</b>
        <input class="form-control" type="number" [(ngModel)]="currentConstraint.product">
      </div>
    </div>

    <button type="button" class="btn btn-outline-dark" (click)="addConstraint()"
            [disabled]="currentConstraint.cellIds.length === 0 || currentConstraint.type === undefined" i18n>
      Add
    </button>
    <hr>
    <b i18n>List of Constraints:</b>
    <div class="constraint-list">
      <div *ngFor="let constraint of constraints">
        <span [style.background]="constraint.color" class="mydot"></span>
        {{constraint.toString()}}
        <svg (click)="deleteConstraint(constraint)" style="cursor: pointer;" class="bi bi-trash" width="1em"
             height="1em" viewBox="0 0 16 16"
             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
          <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                clip-rule="evenodd"/>
        </svg>
      </div>
    </div>

    <b i18n>Global options</b>
    <div style="margin-bottom: 20px;">
      <input type="checkbox" [(ngModel)]="useBlockUnits" style="margin-right: 5px;">
      <ng-container i18n>Use standard 3x3 block units</ng-container>
    </div>

    <button type="button" class="btn btn-outline-dark" (click)="solve()" i18n>
      Solve
    </button>
  </div>
</div>

<div *ngIf="viewMode === viewModeEnum.solving" class="flex-container">
  <div class="grid left-side">
    <ul>
      <li *ngFor="let cell of cells;">
        <input type="text" [(ngModel)]="cell.value" maxlength="1" autocomplete="false"
               [style.color]="cell.calculated ? 'green' : 'blue'">
      </li>
    </ul>
  </div>

  <div class="right-side">
    <p>
      <ng-container i18n>Status:</ng-container>
      {{status}}
    </p>

    <div *ngIf="solvingInProgress" class="spinner-border" role="status">
    </div>

    <button *ngIf="!solvingInProgress" type="button" class="btn btn-outline-dark" (click)="clearAll()" i18n>
      Clear
    </button>
  </div>
</div>

<div class="showcase">
  <ng-container i18n>This webapp lets you solve custom Sudokus, and a wide range of known 9x9 Sudoku types:
  </ng-container>
  <ul>
    <li>
      <b i18n>Sudoku X</b>:
      <ng-container i18n>Two additional diagonal units</ng-container>
    </li>
    <li>
      <b i18n>Hyper Sudoku</b>:
      <ng-container i18n>Four additional units</ng-container>
    </li>
    <li>
      <b i18n>Killer Sudoku (Sum Sudoku)</b>:
      <ng-container i18n>Regions of variable size must form sums</ng-container>
    </li>
    <li>
      <b i18n>Nonomino</b>:
      <ng-container i18n>No 3x3 block units, but 9 custom, irregular units instead</ng-container>
    </li>
    <li>
      <b i18n>Odd-Even Sudoku</b>:
      <ng-container i18n>Normal Sudoku with odd/even constraints</ng-container>
    </li>
    <li>
      <b i18n>Greater/Less Than Sudoku</b>:
      <ng-container i18n>Normal Sudoku with greater/less than constraints</ng-container>
    </li>
    <li i18n>
      Custom combinations of the above (for example special Sudokus for Geocaching puzzles)
    </li>
  </ul>

  <h3 i18n>Technical details</h3>
  <p>
    <ng-container i18n> The solver is open source (MIT license) and available on </ng-container>
    <a
      href="https://github.com/akleemans/sudoku-solver.ch">Github</a>.
  </p>
  <p>
    <ng-container i18n>The solver is based on backtracking as described by </ng-container>
    <a href="https://norvig.com/sudoku.html">Peter Norvig</a>.
    <ng-container i18n>It uses custom constraints for propagation and a different heuristic (based on the entered
      constraints) to optimize the search. </ng-container>
    <ng-container i18n>The solving is done inside of a </ng-container>
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API">Web Worker</a>.
    <ng-container i18n>The grid is based on the work of </ng-container>
    <a href="https://codepen.io/sdobson">Sam Dobson</a>.
    <ng-container i18n>The random colors are generated by </ng-container>
    <a href="https://github.com/davidmerfield/randomColor">randomColor</a>.
  </p>
  <div style="display: flex;">
    <div style="flex: 1;">&copy; 2021 by <a href="https://www.kleemans.ch">Adrianus Kleemans</a>.</div>
    <div>
      <ng-container i18n>Page hits:</ng-container>
      {{visitors?.visitorsMonth || '?'}}
      <ng-container i18n>this month</ng-container>
      , {{visitors?.visitorsTotal || '?'}}
      <ng-container i18n>total</ng-container>
    </div>
  </div>
</div>
